
$primary-color: #1e61cc;
$secondary-color: #2c2c2c;
$background-dark: #18181b;
$text-light: #ffffff;
$text-muted: #aaaaaa;
$danger-color: #e91916;


$border-radius: 0.5rem;
$padding-base: 1rem;


$font-base: 'Inter', sans-serif;
