@use './_variables' as *;
@use './_mixins' as *;



body {
  background-color: $background-dark;
  color: $text-light;
  font-family: $font-base;
}

.container {
  @include flex-center;
  padding: $padding-base;
}





